div.Orders{
    h1{
        text-align:center;
        padding:30px;
    }
    
    i.orderid{
        font-size:15px;
    }
    div.body{
        margin-top:-130px;
        border-radius:0;
    }
    table{
        margin:20px auto;
        width:75%;
    }
    th,td{
        padding:15px;
        background:rgba(0,0,0,0.1);
        border-radius:10px;
    }
    div.flex{
        div.restaurant{
            width:40%;
        }
        display:flex;
        margin:auto;
        justify-content: space-around;
        width:80%;
    }
    table.items{
        margin-bottom:20px;
    }
}